@bg: #A6A3A2;
@grey25: #342826;
@grey30: #413839;
@grey50: #747170;
@steelblue: #4863A0; @complimentary: #a18648;

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
    background-color: @bg;
}
.legend {
    font-size: 1.2em;
    margin: .3333em 0em 0em 2em;
    padding: 0em 0em 0em 1em;
    width: 20em;
    color: white;
}
#juve {
    background-color: @steelblue;
}
#milan {
    background-color: @complimentary;
}
article {
}
section {
    margin: 0em 1em 1em 1em;
}
#graph {
    svg {
        width: 102.4em;
        height: 35em;
        padding-bottom: 10px;
        rect.left {
            fill: @steelblue;
        }
        rect.right {
            fill: @complimentary;
        }
        text.x {
            font-weight: bold;
        }
        text.yleft, text.yright {
            fill: white;
            font-weight: bold;
        }
    }
}
#control {
    width: 102.4em;
    .slider {
        margin: 0em 5em 1em 0em;
        a.ui-slider-handle {
            width: 6em;
            text-align: center;
            text-decoration: none;
        }
    }
}
#slider-min-interval {
    a.ui-slider-handle {
        width: 9em !important;
    }
}

.rightcol
{
position:absolute;
right:0px;
width:270px;
height:75em;
background-color:rgb(150,150,150);
}
