@bg: #EBEBEB;
@grey25: #342826;
@grey30: #413839;

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
}
article {
}
section {
    margin: 0em 1em 1em 1em;
}
#graph {
    svg {
        width: 102.4em;
        height: 40em;
        padding-bottom: 10px;
        rect.left {
            fill: red;
        }
        rect.right {
            fill: blue;
        }
        text.x {
            font-weight: bold;
        }
        text.yleft, text.yright {
            fill: white;
            font-weight: bold;
        }
    }
}
#control {
    width: 102.4em;
    .slider {
        margin: 0em 3em 1em 1em;
        a.ui-slider-handle {
            width: 6em;
            text-align: center;
            text-decoration: none;
        }
    }
}
