@bg: #EBEBEB;
@grey25: #342826;
@grey30: #413839;

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
    background-color: @bg;
}
article {
    margin: 2em;
}
#graph {
    svg {
        width: 102.4em;
        height: 50em;
        padding-bottom: 10px;
        rect.left {
            fill: red;
        }
        rect.right {
            fill: blue;
        }
    }
}
